# Assignment \#3 the Olympic dataset

#### Features description
- *City*: City
- *Edition*: Year
- *Sport*: Sport
- *Discipline*: Discipline
- *Athlete*: Athlete's last name and first name (generally separated by a comma and a space)
- *NOC*: Country, National Olympic Committee, ISO 3166-1 alpha-3
- *Gender*: Men, Women
- *Event*: Event
- *Event_gender*: Event gender (F = Women, M = Men, X = NA)
- *Medal*: Metal of medal (Bronze, Silver, Gold)

In [1]:
# usual import and options
import pandas as pd
pd.set_option("display.max_rows", 16)

### Loading the dataset

**file**: `'Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt'`

**separator**: tab: `\t`

In [4]:
# LOADING THE DATASET
# DO NOT CHANGE THIS CELL FOR GRADING
# THE DATASET SHOULD BE ALONG WITH THE NOTEBOOK AND THE PYTHON FILE

df = pd.read_csv('Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt', sep='\t')
df.head()

FileNotFoundError: [Errno 2] File b'Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt' does not exist: b'Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt'

#### Questions

1) How many different cities have organized Olympic games?

2) How many different editions of Olympic games are in the dataset?

3) How many cities have organized more than one edition of Olympic games?

4) Which sport distributed the most medals?

5) Which discipline distributed the most medals?

6) How many gold medals have been distributed?

7) Which edition distributed the most silver medals?

8) In how many different disciplines did men received medals (°)?

9) In how many different disciplines did women received medals (°)?

10) How many disciplines are dedicated to women (°)?

11) How many countries have won a medal with an event gender equal to 'X'?

12) How many countries have won a gold medal with an event gender equal to 'X'?

13) How many different countries have an athlete whose surname is 'SCHMIDT'?

14) How many different sports have the word 'ball' in their name?

15) How many Bronze or Silver medals have been won by any athlete whose surname is 'KIM'?

16) How many different events are in the dataset?

17) How many different events including numbers in their description are in the dataset?

18) Which athlete has participated in the most editions?

19) How many sports have the same number of Gold, Silver and Bronze medals?

20) How many athletes have strictly more Gold medals than Silver and more Silver medals than Bronze?

21) Which country has won at least one medal in each olympic edition?

22) Add a column named 'Score' with 1 for Bronze, 2 for Silver and 3 for Gold medals. What is the total sum of scores?

23) Which athlete has the largest sum of scores?

24) Which woman athlete has the largest sum of scores?

25) For how many countries the sum of men's scores is equal to the sum of women's scores?

26) Add a column named 'Trial' with the concatenation of columns 'Discipline', 'Sport' and 'Event' separated by a space. How many different trials are in the dataset?

27) Which edition has the largest number of different trials?

28) Add a column 'First Name' with the first name of athletes. How many different first names are in the dataset?

29) Which athlete's first name has the largest sum of scores?

30) Which woman athlete's first name has the largest sum of scores (°)?

(°) Use the 'Gender' column.

In [3]:
# 1) How many different cities have organized Olympic games?
def exercise_01():
    result = df.City.nunique()
    return result

# run and check
exercise_01()

22

In [4]:
# 2) How many different editions of Olympic games are in the dataset?
def exercise_02():
    result = df.Edition.nunique()
    return result

# run and check
exercise_02()

26

In [5]:
# 3) How many cities have organized more than one edition of Olympic games?

def exercise_03():
    result = (df.groupby('City')['Edition'].nunique()>(1)).sum()
    return result

# run and check
exercise_03()

4

In [6]:
# 4) Which sport distributed the most medals?

def exercise_04():
    result = df.groupby('Sport')['Medal'].count().idxmax()
    return result

# run and check
exercise_04()

'Aquatics'

In [7]:
# 5) Which discipline distributed the most medals?

def exercise_05():
    result = df.groupby('Discipline')['Medal'].count().idxmax()
    return result

# run and check
exercise_05()

'Athletics'

In [8]:
# 6) How many gold medals have been distributed?

def exercise_06():
    result =  len(df[df.Medal=="Gold"])
    return result

# run and check
exercise_06()

9850

In [9]:
# 7) Which edition distributed the most silver medals?

def exercise_07():
    result =  df[df.Medal=="Silver"].groupby("Edition")["Medal"].count().idxmax()
    return result

# run and check
exercise_07()

2000

In [16]:
# 8) In how many different disciplines did men received medals (°)?

def exercise_08():
    result =df.loc[df.Event_gender=="M","Discipline"].nunique()
    return result

# run and check
exercise_08()

49

In [17]:
# 9) In how many different disciplines did women received medals (°)?

def exercise_09():
    result = df.loc[df.Event_gender=="W","Discipline"].nunique()
    return result

# run and check
exercise_09()

37

In [13]:
# 10) How many disciplines are dedicated to women (°)?

def exercise_10():
    counted = df.pivot_table(index='Discipline', values='Medal', columns='Event_gender', aggfunc='count')
    result =len(counted[(counted.W>counted.M) &(counted.W>counted.X)])
    return result

# run and check
exercise_10()

0

In [14]:
# 11) How many countries have won a medal with an event gender equal to 'X'?

def exercise_11():
    result = df.loc[df.Event_gender=="X","NOC"].nunique()
    return result

# run and check
exercise_11()

49

In [15]:
# 12) How many countries have won a gold medal with an event gender equal to 'X'?

def exercise_12():
    result =df.loc[(df['Medal']=='Gold') & (df['Event_gender']=='X'), 'NOC'].nunique()
    return result

# run and check
exercise_12()

33

In [18]:
df['Firstname'] = df['Athlete'].str.split(',\s+').str[1]
df["Surname"]=df['Athlete'].str.split(',\s+').str[0]
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal,Firstname,Surname
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,Alfred,HAJOS
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver,Otto,HERSCHMANN
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze,Dimitrios,DRIVAS
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold,Ioannis,MALOKINIS
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver,Spiridon,CHASAPIS

In [19]:
# 13) How many different countries have an athlete whose surname is 'SCHMIDT'?

def exercise_13():
    result = df[df.Surname=="SCHMIDT"]["NOC"].nunique()
    return result

# run and check
exercise_13()

11

In [20]:
# 14) How many different sports have the word 'ball' in their name?

def exercise_14():
    result = len(df.loc[df['Sport'].str.contains('ball'), 'Sport'])
    return result

# run and check
exercise_14()

4638

In [21]:
# 15) How many Bronze or Silver medals have been won by any athlete whose surname is 'KIM'?

def exercise_15():
    result = len(df[(df.Surname=="KIM") & ((df.Medal=="Silver") | (df.Medal=="Bronze"))])
    return result

# run and check
exercise_15()

78

In [22]:
# 16) How many different events are in the dataset?

def exercise_16():
    result = df.Event.nunique()
    return result


# run and check
exercise_16()

577

In [23]:
# 17) How many different events including numbers in their description are in the dataset?

def exercise_17():
    result = len(df[df.Event.str.match('\-?(\d*\.?\d+|\d+\.?\d*)')])
    return result


# run and check
exercise_17()

8737

In [24]:
# 18) Which athlete has participated in the most editions?

def exercise_18():
    result =  df.groupby("Athlete")["Edition"].count().idxmax()
    return result


# run and check
exercise_18()

'LATYNINA, Larisa'

In [25]:
# 19) How many sports distributed exactly the same number of Gold, Silver and Bronze medals?

def exercise_19():
    counted = df.pivot_table(index='Sport', values='Athlete', columns='Medal', aggfunc='count')
    result=len(counted[(counted.Bronze==counted.Gold) &(counted.Bronze==counted.Silver)])
    return result

# run and check
exercise_19()

7

In [26]:
# 20) How many athletes received strictly more Gold medals than Silver and strictly more Silver medals than Bronze?

def exercise_20():
    counted = df.pivot_table(index='Athlete', values='Sport', columns='Medal', aggfunc='count')
    result=len(counted[(counted.Gold>counted.Silver) &(counted.Bronze<counted.Silver)])
    return result

# run and check
exercise_20()

28

In [27]:
# 21) Which country has won at least one medal in each olympic edition?

def exercise_21():
    counted = df.pivot_table(index='NOC', values='Medal', columns='Edition', aggfunc='count')
    result = counted[(counted.values>=1).all(1)]
    return result

# run and check
exercise_21()

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in greater_equal
  """

Edition,1896,1900,1904,1908,1912,1920,1924,1928,1932,1936,...,1972,1976,1980,1984,1988,1992,1996,2000,2004,2008
NOC,,,,,,,,,,,,,,,,,,,,,
GBR,7.0,78.0,2.0,347.0,160.0,107.0,66.0,55.0,34.0,36.0,...,29.0,32.0,45.0,72.0,53.0,50.0,26.0,55.0,57.0,77.0

In [28]:
Score = {'Gold':3,'Silver':2,'Bronze':1}                                                                                   
df['Score'] = df['Medal'].map(Score)
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal,Firstname,Surname,Score
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,Alfred,HAJOS,3
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver,Otto,HERSCHMANN,2
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze,Dimitrios,DRIVAS,1
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold,Ioannis,MALOKINIS,3
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver,Spiridon,CHASAPIS,2

In [29]:
# 22) What is the total sum of scores?

def exercise_22():
    result = df.Score.sum()
    return result

# run and check
exercise_22()

58593

In [30]:
# 23) Which athlete has the largest sum of scores?

def exercise_23():
    result = df.groupby('Athlete')['Score'].sum().idxmax() 
    return result

# run and check
exercise_23()

'PHELPS, Michael'

In [31]:
# 24) Which woman athlete has the largest sum of scores (°)?

def exercise_24():
    result = df[df.Event_gender=="W"].groupby('Athlete')['Score'].sum().idxmax()
    return result

# run and check
exercise_24()

'LATYNINA, Larisa'

In [32]:
# 25) For how many countries the sum of men' scores is equal to the sum of women' scores?

def exercise_25():
    counted = df.pivot_table(index='NOC', values='Score', columns='Event_gender', aggfunc='sum')
    result=len(counted[(counted.M==counted.W)])
    return result

# run and check
exercise_25()

5

In [33]:
df['trials']=df['Discipline'].astype(str)+'_'+df['Sport']+'_'+df['Event']
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal,Firstname,Surname,Score,trials
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,Alfred,HAJOS,3,Swimming_Aquatics_100m freestyle
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver,Otto,HERSCHMANN,2,Swimming_Aquatics_100m freestyle
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze,Dimitrios,DRIVAS,1,Swimming_Aquatics_100m freestyle for sailors
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold,Ioannis,MALOKINIS,3,Swimming_Aquatics_100m freestyle for sailors
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver,Spiridon,CHASAPIS,2,Swimming_Aquatics_100m freestyle for sailors

In [34]:
# 26) How many different trials are in the dataset?

def exercise_26():
    result = df.trials.nunique()
    return result

# run and check
exercise_26()

648

In [35]:
# 27) Which edition has the most different trials?

def exercise_27():
    result = df.groupby("Edition")["trials"].nunique().idxmax()
    return result

# run and check
exercise_27()

2004

In [36]:
# 28) How many different first names are in the dataset?

def exercise_28():
    result = df.Firstname.nunique()
    return result

# run and check
exercise_28()

9772

In [38]:
# 29) Which athlete's first name has the largest sum of scores?

def exercise_29():
    sum_score = df.groupby ('Firstname')['Score'].sum()
    max_score = sum_score.max()
    names = sum_score[sum_score == max_score].index
    result=df[df['Firstname'].isin(names)]["Athlete"]
    return result

# run and check
exercise_29()

502           AITOFF, Vladimir
6607       SYROVATKA, Vladimir
8107         IVKOVIC, Vladimir
8140       KAZANTSEV, Vladimir
8157        SUKHAREV, Vladimir
8524           BEARA, Vladimir
8571        BELYAKOV, Vladimir
8730         KRYUKOV, Vladimir
                 ...
23547       ANDREYEV, Vladimir
25023          BATEZ, Vladimir
25027          GRBIC, Vladimir
25457       GOJKOVIC, Vladimir
25468    VUJASINOVIC, Vladimir
26835         ISAKOV, Vladimir
27455    VUJASINOVIC, Vladimir
28864         ISAKOV, Vladimir
Name: Athlete, Length: 197, dtype: object

In [39]:
# 30) Which woman athlete's first name has the largest sum of scores (°)?

def exercise_30():
    sum_score = df[df.Event_gender=="W"].groupby ('Firstname')['Score'].sum()
    max_score = sum_score.max()
    names = sum_score[sum_score == max_score].index
    result=df[df['Firstname'].isin(names)]["Athlete"]
    return result

# run and check
exercise_30()

8216                       GORCHAKOVA, Elena
9443     LEUSTEANU-POPESCU-TEODORESCU, Elena
9486     LEUSTEANU-POPESCU-TEODORESCU, Elena
9487               MARGARIT-NICULESCU, Elena
9488               SACALICI-PETROSANU, Elena
10399    LEUSTEANU-POPESCU-TEODORESCU, Elena
10400              MARGARIT-NICULESCU, Elena
10927                      GORCHAKOVA, Elena
                        ...
27431                    OVCHINNIKOVA, Elena
27708                       ISINBAEVA, Elena
28016                         KALISKA, Elena
28385                        POSEVINA, Elena
28476                       DMITRIEVA, Elena
28479                        POLENOVA, Elena
28696                       GEORGESCU, Elena
29008                      DEMENTIEVA, Elena
Name: Athlete, Length: 105, dtype: object